<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Primer Página Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <button type="button" class="btn btn-warning">Warning</button>
</head>
<body>
    <h1>Mis Datos Personales</h1><br>
    <p>
        <h4>{{ nombre }}</h4>
    </p><br>
    <p>
        <h4>{{ age }}</h4>
    </p><br>
    <p>
        {%  if age > 50 %}
            <h2>Ya estás ruco.</h2>
        {%  endif %}
    </p>
    <p>
        {% for i in listmat %}
        <h4>{{ i }}</h4>
        {% endfor %}
    </p>
</body>
</html>

